
body{
	background-color:rgb(229,209,251);
}
#center{
	position:absolute;
	border:1px solis red;
	top:300px;
	left:500px;
}
label{
	width:150px;
	float:left;
	color:blue;
	font-size:24px;
}
#username{
	color:blue;
	border-radius:5px;
	height:25px;
}
#password{
	color:blue;
	border-radius:5px;
	height:25px;
}
#login{
	width:100px;
	border:2px solid blue;
	position:absolute;
	background-color:red;
	top:130px;
	left:30xp
}