body{
	background-color:cyan;
}
div{
	position:absolute;
	width:500px;
	height:150px;
	top:250px;
	left:450px;
}
label{
   color:blue;
   float:left;
   width:200px;
   font-size:20px;
}

#submit{
	position:absolute;
	width:200px;
	background-color:magenta;
	border-radius:5px;
	top:150px;
	left:80px;
}
#submit:hover{
	width:250px;
	background-color:blue;
	border:2px solid gray;
	color:white;
}