.textfield{
	width:200px;
	height:20px;
	border-radius:5px;
	border:1px solid blue;
}
.textfield_focus{
	border:2px solid blue;
	background-color:yellow;
	color:red;
}
#submit{
	width:200px;
	height:20px;
	margin-top:10px;
	border-radius:5px;
	border:1px solid gray;
}
#submit:hover{
	border:2px solid blue;
}
#hoverover{
	display:none;
	padding:5px;
	border:1px solid red;
	position:absolute;
	background-color:cyan;
	font-size:14;
	color:blue;
	border-radius:5px;
}